body {
  text-align: center;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.background {
  background: #c2e59c;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #64b3f4, #c2e59c);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #64b3f4, #c2e59c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.lychee {
  font-size: 20vw;
  font-family: cursive, fantasy;
  color: palevioletred;
  text-shadow: 1vw 1vw black;
}
span {
  display: block;
}
.t1 {
  display: block;
  /* -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black; */
  color: white;
  font-size: 10vw;
  font-weight: bold
}
.t2 {
  display: block;
  /* -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black; */
  color: white;
  font-size: 5vw;
  font-weight: bold;
  text-decoration: underline white;
}
.t3 {
  display: block;
  color: white;
  font-size: 3vw;
}
.info {
  margin-top: 20%;
}
.space {
  margin-top: 1%;
}
.flex-parent {
display: flex;
}
.jc-center {
justify-content: center;
}
button {
  background: rgba(0, 0, 0, 0);
  color: white;
  border: 1% solid black;
  font-size: 5vw;
  font: bold;
  width:20%;
  height: auto;
  transition-duration: 0.4s; 
}
button:hover {
  background: rgba(0, 0, 0, 0.548);
  color: palevioletred;
  border: 2px solid black;
}
button.margin-right {
margin-right: 20px;
}
.join {
  margin-top: 50%;
  background: rgba(0, 0, 0, 0);
  color: white;
  border: 1% solid black;
  font-size: 5vw;
  font: bold;
  width:20vw;
  height: auto;
  transition-duration: 0.4s; 
}
.join:hover {
  background: rgba(88, 235, 21, 0.548);
  color: white;
  border: 2px solid black;
}
.img-width {
  display: block;
  width: 100%;
  height: auto;
}
.img-height {
  display: block;
  height: 100%;
  width: auto;
}
info {
  margin-bottom: 10%
}
